@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kablammo&family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kablammo&family=Oxanium:wght@200..800&display=swap');
body {
  margin: 0px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 3em;
  padding: 1em;
  border-bottom: 1px dotted gray;
  background: #f5f5f5
}

button {
  background-color: green;
  padding:  .5em 1em;
  font-size: 1.2em;
  border: none;
  border-radius: 2em;
  color: white;
  box-shadow: 3px 3px lightgray;
}

button:hover {
  cursor: pointer;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


 h1, h2 {
  font-family: "Bokor", system-ui;
 }

h1 {
  font-size: 3rem;
  margin: 1rem;
}

h2 {
  margin: 0 1rem;
}
 
.info { 
  background-color: green;
  color: white;
  font-size: 18px;
  font-family: 'Edu AU VIC WA NT Pre', cursive;
  padding: 1rem 1.5rem;
  border: 3px dotted black;
  border-radius: 2rem;
  text-align: center;
  margin: 1rem;
}

p {
  width: 50%
}

ul li {
  list-style: none;
}

ul {
  padding: 0px;
}

.imgs {
  display: flex;
  margin: 3rem;
  gap: 2rem;
}

img {
  height: 5rem;
  width: 5rem;
}



  